#Battle Properties
robocode.battleField.width=1000
robocode.battleField.height=1000
robocode.battle.numRounds=20
robocode.battle.gunCoolingRate=0.1
robocode.battle.rules.inactivityTime=450
robocode.battle.hideEnemyNames=false
robocode.battle.selectedRobots=evolved.TeamTbdR1, evolved.HypeMachine_31, evolved.Nic_R2, evolved.ChaChaR1, nicsEvolved.NicRoundOne, evolved.ChupaZombie, evolved.HappyProgrammersR1, evolved.Individual_${id}